.mixin-fontBold () {
   font-weight: bold;
 }
 
.mixin-listClear () {
   padding: 0;
   margin: 0;
   list-style: none;
 }
 
 
.mixin-textOut () {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
 }

.mixin-text () {
  font-size: @font-size;
  line-height: 21px;
  margin: 0;
}

.mixin-title () {
  font-size: 18px;
  font-weight: 700;
  line-height: @line-height;
  color: #000;
  margin: 0;
}

.mixin-btn () {
  display: block;
  width: 280px;
  padding: 16px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: @line-height;
  color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}