.search-hotel {
  padding: 30px 15px 50px;
  text-align: center;
  @media (min-width: @screen-tablet) and (max-width: 1199px) {
    padding: 54px 18px;
  }
  @media (min-width: @screen-desktop) {
    padding: 54px 18px 64px;
  }

  &__title { 
    font-size: 21px;
    font-weight: 700;
    line-height: @line-height;
    color: #000;
    margin-bottom: 15px;
    color: #000;
    @media (min-width: @screen-tablet) {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }


  &__text {
    font-size: @font-size;
    line-height: 24px;
    margin-bottom: 40px;
    @media (min-width: @screen-tablet) and (max-width: 1199px) {
      padding: 0 18%;
      margin-bottom: 45px
    }
    @media (min-width: @screen-desktop) {
      padding: 0 30%;
      margin-bottom: 50px
    }
  }

  &__btn {
    .mixin-btn;
    color: #fff;
    background: @color-blue;
    margin: 0 auto;
    @media (min-width: @screen-tablet) {
      width: 458px;
    }
  }
}